body{
    background-color: rgb(182, 238, 255);
}
#slide{
    background-color: rgba(144, 125, 255, 0.466);
    height: 500px;
    width: 300px;
    border-radius: 10px;
}
.slidelink{
    background-color: rgba(144, 125, 255, 0.466);
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Microsoft JhengHei';
}
.slidelink:hover{
    background-color: rgba(144, 125, 255, 0.966);
}
#slideicon{
    border-radius:50%;
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-right: 20px;
}
#slidediv{
    background-color: rgba(116, 92, 255, 0.466);
    height: 70px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Microsoft JhengHei';
}