a{
    text-decoration: none; /*去掉連結底線*/
}

body{
    background-color: #101010;
}

.box{
    width: 500px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 10px; /*原角*/
    background: #272727;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-250px;
    margin-top:-140px;
}
#avatar{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 50px;
    top:50px;
}
#name{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    left: 55px;
    top:200px;
    letter-spacing: 25px; /* 將字元間的間距設置為 2 像素 */
}

#discord_icon,#github_icon,#instergram_icon,#youtube_icon,#mail_icon,#shoting_icon{
    width: 30px;
    height: 30px;
}

#discord_link{
    position:  absolute;
    top:100px;
    left:270px;
    display: inline-block;
}

#github_link{
    position: absolute;
    top:100px;
    left:325px;
    display: inline-block;

}

#instergram_link{
    position: absolute;
    top:100px;
    left:380px;
    display: inline-block;
}


#mail_link{
    position:  absolute;
    top:165px;
    left:325px;
    display: inline-block;
}

#hoverArea {
    transition: stroke 0.3s; /* 0.3s的漸變時間 */
}

#discord_icon:hover #hoverArea {
    stroke: #ff92d2;
}

#github_icon:hover #hoverArea{
    stroke: #6234ac;
}

#instergram_icon:hover #hoverArea{
    stroke: #9bf0ff;
}

#mail_icon:hover #hoverArea{
    stroke: #bd8aff;
}